  title {
    font-family: "Shadows Into Light", "Garamond", serif'
  }

  body {
    font-family: "Shadows Into Light", "Garamond", serif;   
    font-size: 24px;
    background-image: url('https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb');
  }

  p {
    font-family: 'Shadows Into Light Two', 'Verdana', sans-serif;
  }
  
  header {
    padding: 20px 0;
  }
  
  header .row, footer .row, footer a {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;    
    text-shadow: 0.25px 0.25px 0.25px #000000;    
  }
  
  header h1 {
    font-weight: 700;
    margin: 0;
    color: #000000;
  }
  
  header nav {
    display: flex;
    justify-content: flex-end;
  }

  #menu1 {
    display: flex;
    justify-content: flex-end;
    font-family: 'Shadows Into Light', 'Garamond', serif;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 5px;
    width: 100px;
  }
  
  header p {
    padding: 0 20px;
  }

  .jumbotron {
      display: flex;
      align-items: center;
      background-image: url('https://images.pexels.com/photos/214045/pexels-photo-214045.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');
      background-size: cover;
      color: #ffffff;
      height: 500px;
      text-shadow: 0.25px 0.25px 0.25px #000000;     
      max-width: 100%;      
      box-shadow: 0 3px 6px rgba(0,0,0,0.9);
      border-radius: 15px;
    }
    
    .jumbotron h2 {      
      font-size: 60px;
      font-weight: 700;
      margin: 0;
      color: #fff;
    }
    
    .jumbotron h3 {
      font-size: 36px;
      font-weight:bold;
      margin: 0 0 20px;
      color: #fff;
    }

    .jumbotron2  {
        padding: 0.5em 0.6em;               
    }

    h2 {
      font-weight: bold;
      color: #4682b4;
    }
       
    section .row img {
      margin: 0 0 30px;
      width: 100%;      
      max-width: 100%;      
      border-radius: 5px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.9);
    }
  
    section .row p {
        font-size: 16px;
        font-weight: bold;
    }

    .col-sm-6  {
      margin: 0 0 30px;            
    }

    .col-sm-6 p{
      font-family: 'Shadows Into Light', 'Verdana', serif;
      font-size: 16px;
      font-weight: bolder;
    }

    #next {
      text-align: right;
    }
    
    .btn.btn-primary {
      border-radius: 5px;
      border: 0px;
      color: #000000;
      font-weight: bold;
      text-shadow: none;
      background-color: #4682b4;
    }
    
    .btn.btn-primary:hover {
      color: #000000;
      background-color: #ffffff;
    }
    
    .btn-secondary {
      background-color: #4682b4;
      color: #000000;
      margin: 0 0 30px;
    }
  
    .btn.btn-info {   /* TEST */
      border-radius: 5px;
      border: 0px;
      color: #000000;
      font-weight: bold;
      text-shadow: none;
      background-color: steelblue;
      margin-right: 10px; 
    }
  
    .btn.btn-info:hover {
        color: #000000;
        background-color: #ffffff;
    }
    
    footer {
      font-size: 16px;
      padding: 20px 0;
    }
    
    footer .col-sm-8, footer .btn {
      display: inline;
      margin-left: 50px;      
    }
    
    footer ul {
      list-style: none;
    }
  